body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aad4f7;
}

h1{
    text-align: center;
    background-color: #e5f1e8;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.resume-form {
    background: #fffdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.resume-form label {
    display: block;
    margin-bottom: 10px;
}

.resume-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.resume-section {
    display: none;
}

.resume-section.active {
    display: block;
}

#generate-button {
    padding: 10px 20px;
    border: none;
    background: #aad4f7;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}

#generate-button:hover {
    background: #0b8af1;
}

.resume-output {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.resume-output img {
    max-width: 150px;
    height: 10px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 5px 0;
    object-fit: cover;
}
